@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* Role Management Card Component Start *@
<div class="card col-role-card">
    <div class="card-content">
        @* FIX: RoleName *@
        <span class="card-title activator grey-text text-darken-4">RoleName</span>
        @* FIX: Role Items *@
        <ul>
            <li class="row">
                <div class="col s6">
                    <p>RoleItem1</p>
                </div>
                <div class="switch col s3 push-s3">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </li>
            <li class="row">
                <div class="col s6">
                    <p>RoleItem2</p>
                </div>
                <div class="switch col s3 push-s3">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </li>
            <li class="row">
                <div class="col s6">
                    <p>RoleItem3</p>
                </div>
                <div class="switch col s3 push-s3">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-action">
        <div class="left-align">
            <button class="waves-effect waves-light btn red darken-2">
                <i class="material-icons left">clear</i>
                ロール削除
            </button>
        </div>
    </div>
</div>
@* Role Management Card Component End *@

@{
}
