<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Micon.CMS</title>
    <link href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2.0.6/css/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Micon.CMS.styles.css" asp-append-version="true" />
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body x-data="{ menuIsVisible:false }">
    <header class="navbar-fixed">
        <nav>
            @* 以下のコメントアウトは削除してもいいですか？ *@
            @*
                <ul>
                    <li>
                        <a @@click="menuIsVisible = !menuIsVisible" class="menu-toggle" id="menu-toggle" @@click.outside="if(menuIsVisible ){menuIsVisible = false}">
                            <img src="~/icon/feather/menu.svg">
                        </a>
                    <li />
                </ul>
            *@
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Micon.CMS</a>
                <ul>
                    <li>
                        <a href="#">アカウント</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
   
    <main class="row">
            @* 以下のコメントアウトも削除したいです *@
            @*
            <aside :class="{ 'open':menuIsVisible }" @@click="menuIsVisible = true">
            *@
            <aside class="col s2">
                <ul>
                    <li><a asp-area="" asp-controller="UserManagement" asp-action="Index">ユーザー管理</a></li>
                    <li><a asp-area="" asp-controller="UserManagement" asp-action="Index">ロール管理</a></li>
                    <li><a asp-area="" asp-controller="UserManagement" asp-action="Index">テンプレート管理</a></li>
                    <li><a asp-area="" asp-controller="UserManagement" asp-action="Index">ページ管理</a></li>
                    <li><a asp-area="" asp-controller="UserManagement" asp-action="Index">ログアウト</a></li>
                </ul>
            </aside>
            <div role="main" class="col s10">
                @* 以下のコメントアウトも削除したいです *@
                @*
                <main role="main" class="container-fluid">
                </main>
                *@
                    @RenderBody()
            </div>

    </main>

    <footer class="container" style="text-align:center">
            &copy; 2025 - Micon.CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
