@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>aaaaaa</p>

<h1>ログインしてください</h1>
<form>
  
    <label>username</label>
    <input type="text"/>
    <label>username</label>
    <input type="text" />
</form>