@model Micon.CMS.Models.Form.LoginModel;
<form asp-controller="Login" asp-action="login" method="post">
	<div>
		<label for="organization">組織</label>
		<input type="text" id="organization" name="organization" asp-for="Organization"/>
	</div>
	<div>
		<label for="username">ユーザー名</label>
		<input type="text" id="username" name="username" asp-for="UserName"/>
	</div>
	<div>
		<label for="password">パスワード</label>
		<input type="password" id="password" name="password" asp-for="Password"/>
	</div>
	<button type="submit">ログイン</button> 
</form>