html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
}

/* Aside Menu */

main.row {
    margin-bottom: 0;
}

aside {
  height: auto;
}

.aside-menu li {
    margin-bottom: 1rem;
}

.aside-menu li.active a {
    color: white !important;
}

/* Role Management */
.row-role-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.col-role-card {
   width: calc((100% - 1rem) / 2);
}